# This file exists to designate certain reviewers for certain areas of the
# repository. This allows us to enhance security measures, streamline reviews
# and help automate review requests.
#
# Most owners are people who have a lot of experience in a certain area of the
# codebase, and as such are most suited to review changes to that area.
#
# Hemi Labs team members: If you feel you have a lot of experience in an area
#  within the codebase, please add yourself as a code owner.

# This is the default owner for all files in this repository.
# Protocol Engineering is responsible for all source code in this repository.
* @hemilabs/eng-protocol

# GitHub Actions Workflows
/.github/workflows/ @hemilabs/eng-protocol @joshuasing

# Docker images
/docker/ @hemilabs/eng-protocol @ClaytonNorthey92 @joshuasing

# End-to-End testing
/e2e/ @hemilabs/eng-protocol @ClaytonNorthey92

# Pprof service
/service/pprof/ @hemilabs/eng-protocol @joshuasing

# Tiny Bitcoin Daemon (TBC)
/api/tbcapi/    @hemilabs/eng-protocol @marcopeereboom @joshuasing
/cmd/tbcd/      @hemilabs/eng-protocol @marcopeereboom
/database/tbcd/ @hemilabs/eng-protocol @marcopeereboom
/service/tbc/   @hemilabs/eng-protocol @marcopeereboom

# Release script
/scripts/release.sh @hemilabs/eng-protocol @joshuasing

# GoReleaser config
.goreleaser.yaml @hemilabs/eng-protocol @joshuasing
