# Copyright (c) 2024 Hemi Labs, Inc.
# Use of this source code is governed by the MIT License,
# which can be found in the LICENSE file.

---

name: "hemi-stack"

services:
  # Bitcoin Finality Governor
  bfgd:
    build:
      dockerfile: "./docker/bfgd/Dockerfile"
      context: "./.."
    profiles: ["hemi", "full"]
    depends_on:
      bfgd-postgres:
        condition: "service_started"
      electrs:
        condition: "service_healthy"
    environment:
      # yamllint disable-line rule:line-length
      BFG_POSTGRES_URI: "postgres://postgres@bfgd-postgres:5432/bfg?sslmode=disable"
      ### XXXX Make this variable and set to recent block
      BFG_BTC_START_HEIGHT: "869309"
      BFG_EXBTC_ADDRESS: "electrs:50001"
      BFG_LOG_LEVEL: "INFO"
      BFG_PUBLIC_ADDRESS: ":8383"
      BFG_PRIVATE_ADDRESS: ":8080"
    ports:
      ### CHANGE HOST PORTS
      - '8082:8080'
      - '8385:8383'
    networks:
      - "localnode"
    deploy:
      restart_policy:
        condition: "any"

  # Bitcoin Finality Governor PostgreSQL
  bfgd-postgres:
    build:
      dockerfile: "./localnode/postgres.Dockerfile"
      context: "./.."
    profiles: ["hemi", "full"]
    volumes:
      - psql_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: "bfg"
      POSTGRES_HOST_AUTH_METHOD: "trust"
    networks:
      - "localnode"
    command:
      - "postgres"
      # lower random_page_cost (opposed to default 4.0) to cause planner
      # to choose index scans vs sequential scans when at fewer rows in a table
      - "-c"
      - "random_page_cost=1.0"

  # Bitcoind Node
  bitcoind:
    # yamllint disable-line rule:line-length
    image: "kylemanna/bitcoind@sha256:5d97bbe3c74856818f0b3a1e718eb3968981ab03ce08aaf1c7d528f99aaf30b7"
    profiles: ["L1", "full"]
    volumes:
      - bitcoin_data:/bitcoin/.bitcoin
    ports:
      - '8333:8333'
    networks:
      - "localnode"
    command:
      - "bitcoind"
      - "-rpcuser=user"
      - "-rpcpassword=password"
      - "-rpcallowip=0.0.0.0/0"
      - "-rpcbind=0.0.0.0:8332"
      - "-txindex=1"
      - "-rpcworkqueue=400"

  # Bitcoin Secure Sequencer
  bssd:
    build:
      dockerfile: "./docker/bssd/Dockerfile"
      context: "./.."
    profiles: ["hemi", "hemi-min", "full"]
    environment:
      BSS_BFG_URL: "ws://bfgd:8080/v1/ws/private"
      BSS_LOG_LEVEL: "INFO"
      BSS_ADDRESS: ":8081"
    ports:
      - '8081:8081'
    networks:
      - "localnode"

  # Electrs (Bitcoin indexer, used by BFG)
  electrs:
    build:
      context: ./..
      dockerfile: ./localnode/electrs.Dockerfile
    profiles: ["hemi", "full"]
    volumes:
      - ./cookie:/tmp/.cookie
      - electrs_data:/data/electrs
    environment:
      RUST_LOG: debug
      RUST_BACKTRACE: "full"
    networks:
      - "localnode"
    command:
      - "electrs_bitcoin/bin/electrs"
      - "--electrum-rpc-addr"
      - "0.0.0.0:50001"
      - "--daemon-rpc-addr"
      - "${BITCOINENDPOINT:-bitcoind:8332}"
      - "--cookie"
      # NOTE: If you expose electrs ports,
      # you may want to ensure that this is changed!
      - "${BITCOINCREDS:-user:password}"
      - "-vvv"
      - "--timestamp"
      - "--utxos-limit"
      - "50000"
      - "--electrum-txs-limit"
      - "50000"
      - "--jsonrpc-import"
      - "--db-dir=/data/electrs/blockstream"
    deploy:
      restart_policy:
        condition: "on-failure"

  # Ethereum L1 node
  geth-l1:
    # yamllint disable-line rule:line-length
    image: "ethereum/client-go@sha256:343cff592e1a9daf99a89261d3263941ff9c3350b62b3ebc0f7c30d35721d905"
    profiles: ["L1", "full"]
    volumes:
      - geth_data:/tmp/geth
      # change this token value if you expose this service's ports for
      # connection from other machines
      - ./jwt.hex:/tmp/jwt/jwt.hex
    ports:
      - '8545:8545'
    networks:
      - "localnode"
    command:
      - "--http"
      - "--http.port=8545"
      - "--http.addr=0.0.0.0"
      - "--http.api=eth,net,engine,admin"
      - "--authrpc.vhosts=*"
      - "--authrpc.addr=0.0.0.0"
      - "--authrpc.jwtsecret=/tmp/jwt/jwt.hex"
      - "--http.vhosts"
      - "*"
      - "--datadir"
      - "/tmp/geth"
      - "--gpo.percentile=0"
      - "--mainnet"
    working_dir: "/tmp/geth"

  # Hemi L2 node
  op-geth-l2:
    # yamllint disable-line rule:line-length
    image: "ghcr.io/hemilabs/op-geth:5110a47@sha256:6a732b67100c894201f47ad7d6c019cb5de4b7d52430c3756681a0c76e52effc"
    platform: linux/amd64
    # XXX does geth need to be fully synced
    profiles: ["hemi", "hemi-min", "full"]
    depends_on:
      op-geth-l2-init:
        condition: "service_completed_successfully"
      op-geth-l2-init-tbc:
        condition: "service_completed_successfully"
    healthcheck:
      test: ["CMD", "nc", "-vz", "0.0.0.0", "18546"]
      interval: 5s
      timeout: 5s
      retries: 999999
    volumes:
      - ./mainnet-genesis.json:/tmp/genesis.json
      # change this token value if you expose this service's ports for
      # connection from other machines
      - ./jwt.hex:/tmp/jwt/jwt.hex:ro
      - ./mainnet-entrypointl2.sh:/tmp/entrypointl2.sh
      - op-geth_data:/tmp/datadir
      - ./mainnet-rollup.json:/tmp/rollup.json
      # TODO make a testnet specific one
      - ./mainnet-l2-config.toml:/tmp/l2-config.toml
      - tbc_data:/tbcdata
    environment:
      OP_GETH_L1_RPC: "${GETHL1ENDPOINT:-http://geth-l1:8545}"
      OP_GETH_L2_READINESS_RPC: "http://localhost:18546"
    ports:
      - '18546:18546'
      - '28546:28546'
    networks:
      - "localnode"
    entrypoint:
      - "sh"
      - "/tmp/entrypointl2.sh"
    working_dir: "/tmp"
    ulimits:
      memlock: -1
    deploy:
      restart_policy:
        condition: "on-failure"

  # Init container for Hemi L2 node
  op-geth-l2-init:
    # yamllint disable-line rule:line-length
    image: "alpine@sha256:a8560b36e8b8210634f77d9f7f9efd7ffa463e380b75e2e74aff4511df3ef88c"  # 3.21.3
    profiles: ["hemi", "hemi-min", "full"]
    volumes:
      - op-geth_data:/tmp/datadir
    command:
      - "chown"
      - "-R"
      - "65532"  # geth user
      - "/tmp/datadir"

  # Init TBC container for Hemi L2 node
  op-geth-l2-init-tbc:
    # yamllint disable-line rule:line-length
    image: "alpine@sha256:a8560b36e8b8210634f77d9f7f9efd7ffa463e380b75e2e74aff4511df3ef88c"  # 3.21.3
    profiles: ["hemi", "hemi-min", "full"]
    volumes:
      - tbc_data:/tbcdata
    command:
      - "chown"
      - "-R"
      - "65532"  # geth user
      - "/tbcdata"

  # Hemi op-node
  op-node:
    # yamllint disable-line rule:line-length
    image: "ghcr.io/hemilabs/op-node:9dc3004@sha256:fbbed98c8d9f8b1de1eb426b84b38c5df4fe2e04e9c757f4734dc1009d253b3e"
    platform: linux/amd64
    profiles: ["hemi", "hemi-min", "full"]
    depends_on:
      op-geth-l2:
        condition: "service_healthy"
    volumes:
      # change this token value if you expose this service's ports for
      # connection from other machines
      - ./jwt.hex:/tmp/jwt/jwt.hex
      - ./op-node-priv-key.txt:/tmp/op-node-priv-key.txt
      - ./mainnet-rollup.json:/tmp/rollup.json
    environment:
      OP_NODE_BSS_WS: "http://bssd:8081/v1/ws"
    ports:
      - '8547:8547'
    networks:
      - "localnode"
    command:
      - "op-node"
      - "--l1=${GETHL1ENDPOINT:-http://geth-l1:8545}"
      - "--l1.rpckind=any"
      - "--l1.beacon=${PRYSMENDPOINT:-http://prysm:3500}"
      - "--l2=ws://op-geth-l2:8551"
      - "--l2.jwt-secret=/tmp/jwt/jwt.hex"
      - "--sequencer.enabled=false"
      - "--rollup.config=/tmp/rollup.json"
      - "--override.ecotone=1725868497"
      - "--override.canyon=1725868497"
      - "--override.delta=1725868497"
      - "--rpc.addr=0.0.0.0"
      - "--rpc.port=8547"
      - "--p2p.bootnodes=enr:-J64QACnJ0giPmPXowNCHP-FDleMMbDqYg5nuLABYfJeYbP9OA6_fZtvCsTbAwvlPD8_C6ZSXEk1-XPabDBwD8UTyNCGAZMxdy4tgmlkgnY0gmlwhCINopiHb3BzdGFja4Tn0AIAiXNlY3AyNTZrMaED22EOmUryrNnFOwq6Ve1Hpw5CMFz_TnhIkVS4Sq8JhkmDdGNwgiMrg3VkcIKjLg,enr:-J64QA20VNMfLMtbSuHYmQH2I-xaqT4-9g7lqO-VHr0fFvtSB7QybJ_7W5fuEjLAa6kh82fGLjRUdZE0hW0pfVBcxP6GAZMxdwfngmlkgnY0gmlwhCJaFfaHb3BzdGFja4Tn0AIAiXNlY3AyNTZrMaEDjt3C-gv87B5rWa5M52WUFGy16mjQvFsC7OgPkqu-rn-DdGNwgiMrg3VkcIKRXQ,enr:-J64QLQyh3lXjQLzfCbfNw0DUb4A0OEcTLmVGexMbK-2jjCtHOIlRnDqLuedQ0orNHt7zmsILELYi4ozg-0bQzc34F-GAZMxdxNogmlkgnY0gmlwhCINq4uHb3BzdGFja4Tn0AIAiXNlY3AyNTZrMaED1NV9w0EmnMXBNRnDWj6kdqzE6_4HigHopeu3ewQTwouDdGNwgiMrg3VkcIK1Iw,enr:-J64QNPfOEViWkN7U_ul5Zhw_mc5_Hta92eUufrgu6oTqSMzRsqCje-P0vPrOQ9XjVIk4VP7mmFVP6qoTrtkIwvwUV2GAZMxdv4zgmlkgnY0gmlwhCJb2HmHb3BzdGFja4Tn0AIAiXNlY3AyNTZrMaEDYAidV8rzABKrKAL9jwP1aoi3wj-GtuML4FKtUDOgzCGDdGNwgiMrg3VkcILijg,enr:-J64QFalFr9Y4r9v8Svh7XFwerJeLTRnfTixfCy_NZw3OTMVZL_dSAvcZ6JIeK0JAZf6-PU3YknV9m9Jd5V5WlnqHKWGAZMxdxT4gmlkgnY0gmlwhCKNlBOHb3BzdGFja4Tn0AIAiXNlY3AyNTZrMaECI1jqAzkQ0JRkwL-UBP2TBUfUdLyTaqAXtey82CTysdCDdGNwgiMrg3VkcILOyg"
      - "--p2p.static=/ip4/34.90.21.246/tcp/9003/p2p/16Uiu2HAmNGgNTgiFBAqH58aCT3iXWMnetYMtQgH21Ydjq2R7QRbt"
      - "--p2p.ban.peers=false"
      - "--p2p.ban.duration=1s"
      - "--p2p.ban.threshold=-10000000000"
      - "--log.level=info"
      - "--syncmode=${OPSYNCMODE:-execution-layer}"
    deploy:
      restart_policy:
        condition: "any"

  # Prysm
  prysm:
    # yamllint disable-line rule:line-length
    image: "docker.io/prysmaticlabs/prysm-beacon-chain:v5.3.2@sha256:7e2ca890f1b3cbeef69723399767dfbba5c6c660e4e230bc0b4dbe778992e364"
    profiles: ["L1", "full"]
    volumes:
      - prysm_data:/data
      # change this token value if you expose this service's ports for
      # connection from other machines
      - ./jwt.hex:/tmp/jwt/jwt.hex:ro
    ports:
      - '4000:4000'
    networks:
      - "localnode"
    command:
      - "--execution-endpoint=${GETHL1ENDPOINT:-http://geth-l1:8551}"
      - "--mainnet"
      - "--jwt-secret=/tmp/jwt/jwt.hex"
      - "--checkpoint-sync-url=https://beaconstate.info"
      - "--genesis-beacon-api-url=https://beaconstate.info"
      - "--accept-terms-of-use"
      - "--datadir=/data/prysm"
      - "--rpc-host=0.0.0.0"
      - "--enable-debug-rpc-endpoints"
      - "--grpc-gateway-host=0.0.0.0"
      - "--enable-experimental-backfill"

networks:
  localnode: {}

volumes:
  bitcoin_data: {}
  geth_data: {}
  prysm_data: {}
  psql_data: {}
  op-geth_data: {}
  electrs_data: {}
  tbc_data: {}
