# Copyright (c) 2024 Hemi Labs, Inc.
# Use of this source code is governed by the MIT License,
# which can be found in the LICENSE file.

---

version: "3"

services:
  bitcoind:
    # yamllint disable-line rule:line-length
    image: "kylemanna/bitcoind@sha256:8396d4f819a8b1c4bbb97f3d9700ff658365d0e89d4413c50762a18ce23b84ab"
    command:
      - "bitcoind"
      - "-regtest=1"
      - "-rpcuser=user"
      - "-rpcpassword=password"
      - "-rpcallowip=0.0.0.0/0"
      - "-rpcbind=0.0.0.0:18443"
      - "-txindex=1"
      - "-rpcworkqueue=400"
      - "-printtoconsole"
    ports:
      - "18443:18443"
      - "18444:18444"
    volumes:
      - {type: "tmpfs", target: "/bitcoin/.bitcoin"}
    networks:
      e2e:

  bitcoind-initialblocks:
    # yamllint disable-line rule:line-length
    image: "kylemanna/bitcoind@sha256:8396d4f819a8b1c4bbb97f3d9700ff658365d0e89d4413c50762a18ce23b84ab"
    depends_on:
      - "bitcoind"
    command:
      - "bitcoin-cli"
      - "-regtest=1"
      - "-rpcuser=user"
      - "-rpcpassword=password"
      - "-rpcport=18443"
      - "-rpcconnect=bitcoind"
      - "generatetoaddress"
      # need to generate a lot for greater chance to not spend coinbase
      - "1000"
      - "$BTC_ADDRESS"
    restart: on-failure
    networks:
      e2e:

  bitcoind-moreblocks:
    # yamllint disable-line rule:line-length
    image: "kylemanna/bitcoind@sha256:8396d4f819a8b1c4bbb97f3d9700ff658365d0e89d4413c50762a18ce23b84ab"
    deploy:
      restart_policy:
        condition: "any"
    depends_on:
      bitcoind:
        condition: "service_started"
    command:
      - "bitcoin-cli"
      - "-regtest=1"
      - "-rpcuser=user"
      - "-rpcpassword=password"
      - "-rpcport=18443"
      - "-rpcconnect=bitcoind"
      - "generatetoaddress"
      - "1"
      - "$BTC_ADDRESS"
    networks:
      e2e:

  tbcd:
    build:
      dockerfile: "./docker/tbcd/Dockerfile"
      context: "./.."
    environment:
      TBC_NETWORK: "localnet"
      TBC_HEMI_INDEX: "true"
      TBC_SEEDS: "bitcoind:18444"
      TBC_LISTEN_ADDRESS: "0.0.0.0:8082"
    networks:
      e2e:

  bfgd:
    build:
      dockerfile: "./docker/bfgd/Dockerfile"
      context: "./.."
    deploy:
      restart_policy:
        condition: "any"
    ports:
      - "8080:8080"
      - "8383:8383"
    environment:
      # yamllint disable-line rule:line-length
      BFG_POSTGRES_URI: "postgres://postgres@bfgd-postgres:5432/bfg?sslmode=disable"
      BFG_BTC_START_HEIGHT: "1"
      BFG_EXBTC_ADDRESS: "electrs:50001"
      BFG_LOG_LEVEL: "INFO"
      BFG_PUBLIC_ADDRESS: ":8383"
      BFG_PRIVATE_ADDRESS: ":8080"
      BFG_BITCOIN_SOURCE: "tbc"
      BFG_BITCOIN_URL: "ws://tbcd:8082/v1/ws"
    networks:
      e2e:

  popmd:
    build:
      dockerfile: "./docker/popmd/Dockerfile"
      context: "./.."
    depends_on:
      - "bfgd"
      - "tbcd"
      - "op-geth-l2"
    environment:
      POPM_BITCOIN_SECRET: "${POPM_BTC_PRIVATE_KEY}"
      POPM_BFG_URL: "http://bfgd:8383/v1/ws/public"
      POPM_LOG_LEVEL: "INFO"
      POPM_OPGETH_URL: "ws://op-geth-l2:28546"
      POPM_REMINE_THRESHOLD: "1"
      POPM_BITCOIN_URL: "ws://tbcd:8082/v1/ws"
      POPM_BITCOIN_NETWORK: "localnet"
    networks:
      e2e:

  geth-l1-setup:
    # yamllint disable-line rule:line-length
    image: ${LOCALNET_GETH_L1_IMAGE:-ethereum/client-go:v1.16.7@sha256:fc5cee2ac93202d72af2eacaffbd17a43f6d9316032dc5f3c67663f91d43aa5f}
    working_dir: "/tmp/geth"
    depends_on:
      op-geth-l2-setup:
        condition: "service_completed_successfully"
    command:
      - "init"
      - "--datadir"
      - "/shared-dir/gethl1datadir"
      - "/shared-dir/l1genesis.json"
    volumes:
      - "shared-dir:/shared-dir"
    networks:
      e2e:

  geth-l1:
    # yamllint disable-line rule:line-length
    image: ${LOCALNET_GETH_L1_IMAGE:-ethereum/client-go:v1.16.7@sha256:fc5cee2ac93202d72af2eacaffbd17a43f6d9316032dc5f3c67663f91d43aa5f}
    container_name: e2e-geth-l1-1
    ports:
      - "8545:8545"
    working_dir: "/tmp/geth"
    depends_on:
      geth-l1-setup:
        condition: "service_completed_successfully"
    command:
      - "--dev"
      - "--dev.period"
      - "3"
      - "--keystore"
      - "/tmp/keystore"
      - "--password"
      - "/tmp/passwords.txt"
      - "--http"
      - "--http.port=8545"
      - "--http.addr"
      - "0.0.0.0"
      - "--http.vhosts"
      - "*"
      - "--syncmode=full"
      - "--nodiscover"
      - "--maxpeers=0"
      - "--authrpc.vhosts=\"*\""
      - "--rpc.allow-unprotected-txs"
      - "--datadir"
      - "/shared-dir/gethl1datadir"
      - "--gpo.percentile=0"
      - --http.api=web3,debug,eth,txpool,net,engine,miner
      - --ws.api=debug,eth,txpool,net,engine,miner
      - --rpc.txfeecap=0
    volumes:
      - "shared-dir:/shared-dir"
      - "./e2e/keystore:/tmp/keystore:ro"
      - "./e2e/passwords.txt:/tmp/passwords.txt:ro"
      - "./e2e/jwt.hex:/tmp/jwt.hex:ro"
      - {type: "tmpfs", target: "/tmp"}
    networks:
      e2e:

  op-geth-l2-setup:
    build:
      dockerfile: "optimism-stack.Dockerfile"
      context: "."
    depends_on:
      bitcoind:
        condition: "service_started"
      bitcoind-initialblocks:
        condition: "service_completed_successfully"
    environment:
      ADMIN_PRIVATE_KEY: "${ADMIN_PRIVATE_KEY}"
      HVM_PHASE0_TIMESTAMP: ${HVM_PHASE0_TIMESTAMP}
      OP_GETH_L1_RPC: "http://geth-l1:8545"
    working_dir: "/tmp"
    command:
      - "sh"
      - "/tmp/genesisl2.sh"
    volumes:
      - "./e2e/keystore:/tmp/keystore:ro"
      - "./e2e/passwords.txt:/tmp/passwords.txt:ro"
      - "./jwt.hex:/tmp/jwt.hex:ro"
      - "./entrypointl2.sh:/tmp/entrypointl2.sh"
      - "./genesisl2.sh:/tmp/genesisl2.sh"
      - "./output:/tmp/output"
      - "shared-dir:/shared-dir"
      - "./prestate-proof.json:/git/optimism/op-program/bin/prestate-proof.json"
      - "./transactionsmaybe:/git/optimism/packages/contracts-bedrock/broadcast/Deploy.s.sol/1337/"
      - {type: "tmpfs", target: "/tmp"}
    networks:
      e2e:

  op-geth-l2:
    build:
      dockerfile: "optimism-stack.Dockerfile"
      context: "."
    depends_on:
      geth-l1:
        condition: "service_started"
      bitcoind:
        condition: "service_started"
      bitcoind-initialblocks:
        condition: "service_completed_successfully"
      op-geth-l2-setup:
        condition: "service_completed_successfully"
    healthcheck:
      test: ["CMD-SHELL", "ls /tmp/datadir/geth.ipc"]
      interval: 5s
      retries: 300
      start_period: 30s
    environment:
      ADMIN_PRIVATE_KEY: "${ADMIN_PRIVATE_KEY}"
      OP_GETH_L1_RPC: "http://geth-l1:8545"
      HVM_PHASE0_TIMESTAMP: ${HVM_PHASE0_TIMESTAMP}
      # yamllint disable-line rule:line-length
      GETH_NODEKEYHEX: "76e3e48b25c512e1036069538041df813b759fc67d4756b80ace2586b123e913"
    working_dir: "/tmp"
    command:
      - "sh"
      - "/tmp/entrypointl2.sh"
    volumes:
      - "./e2e/keystore:/tmp/keystore:ro"
      - "./e2e/passwords.txt:/tmp/passwords.txt:ro"
      - "./jwt.hex:/tmp/jwt.hex:ro"
      - "./entrypointl2.sh:/tmp/entrypointl2.sh"
      - "./genesisl2.sh:/tmp/genesisl2.sh"
      - "./output:/tmp/output"
      - "shared-dir:/shared-dir"
      - "./prestate-proof.json:/git/optimism/op-program/bin/prestate-proof.json"
      - {type: "tmpfs", target: "/tmp"}
    ports:
      - 8546:8546
    networks:
      e2e:
        ipv4_address: 192.169.199.8

  op-node:
    build:
      dockerfile: "optimism-stack.Dockerfile"
      context: "."
    depends_on:
      geth-l1:
        condition: "service_started"
      op-geth-l2:
        condition: "service_healthy"
    healthcheck:
      start_period: 180s
    command:
      - "op-node/bin/op-node"
      - "--l2=ws://op-geth-l2:8551"
      - "--l2.jwt-secret=/tmp/jwt.hex"
      - "--sequencer.enabled=true"
      - "--sequencer.l1-confs=0"
      - "--sequencer.stopped=false"
      - "--verifier.l1-confs=0"
      - "--rollup.config=/shared-dir/rollup.json"
      - "--rpc.addr=0.0.0.0"
      - "--rpc.port=8548"
      - "--rpc.enable-admin"
      - "--l1=http://geth-l1:8545"
      - "--l1.rpckind=standard"
      - "--l1.trustrpc"
      - "--log.level=info"
      - "--l1.trustrpc=true"
      - "--l1.http-poll-interval=1s"
      - "--p2p.no-discovery"
      - "--p2p.priv.path=/tmp/op-node-priv-key.txt"
      - "--p2p.sequencer.key=${ADMIN_PRIVATE_KEY}"
      - "--log.level=debug"
      - "--log.format=terminal"
      - "--override.ecotone=1725868497"
      - "--override.canyon=1725868497"
      - "--override.delta=1725868497"
      - "--override.pectrablobschedule=1744238662"
      - "--override.isthmus=${HVM_PHASE0_TIMESTAMP}"
      - "--override.holocene=${HVM_PHASE0_TIMESTAMP}"
      - "--override.granite=${HVM_PHASE0_TIMESTAMP}"
      - "--override.fjord=${HVM_PHASE0_TIMESTAMP}"
      - "--l1.beacon.ignore=true"
      - "--rollup.l1-chain-config=/shared-dir/l1genesis.json"
    volumes:
      - "shared-dir:/shared-dir"
      - "./jwt.hex:/tmp/jwt.hex"
      - "./op-node-priv-key.txt:/tmp/op-node-priv-key.txt"
    networks:
      e2e:
        ipv4_address: 192.169.199.7
    ports:
      - "8548:8548"

  op-node-non-sequencing:
    build:
      dockerfile: "optimism-stack.Dockerfile"
      context: "."
    depends_on:
      op-node:
        condition: "service_started"
    healthcheck:
      start_period: 180s
    command:
      - "op-node/bin/op-node"
      - "--l2=ws://op-geth-l2-non-sequencing:8551"
      - "--l2.jwt-secret=/tmp/jwt.hex"
      - "--verifier.l1-confs=0"
      - "--rollup.config=/shared-dir/rollup.json"
      - "--rpc.addr=0.0.0.0"
      - "--rpc.port=8548"
      - "--rpc.enable-admin"
      - "--l1=http://geth-l1:8545"
      - "--l1.rpckind=standard"
      - "--l1.trustrpc"
      - "--log.level=info"
      - "--l1.trustrpc=true"
      - "--l1.http-poll-interval=1s"
      - "--p2p.priv.path=/tmp/op-node-priv-key.txt"
      - "--p2p.sequencer.key=${ADMIN_PRIVATE_KEY}"
      - "--p2p.static=/ip4/192.169.199.7/tcp/9222/p2p/16Uiu2HAmGCJv5C97ZcdMr6pCCQFqdNXvwE8k6RgTd7vWu4WtVUmr"
      - "--log.level=debug"
      - "--log.format=terminal"
      - "--override.ecotone=1725868497"
      - "--override.canyon=1725868497"
      - "--override.delta=1725868497"
      - "--override.pectrablobschedule=1744238662"
      - "--override.isthmus=${HVM_PHASE0_TIMESTAMP}"
      - "--override.holocene=${HVM_PHASE0_TIMESTAMP}"
      - "--override.granite=${HVM_PHASE0_TIMESTAMP}"
      - "--override.fjord=${HVM_PHASE0_TIMESTAMP}"
      - "--l1.beacon.ignore=true"
      - "--rollup.l1-chain-config=/shared-dir/l1genesis.json"
    volumes:
      - "shared-dir:/shared-dir"
      - "./jwt.hex:/tmp/jwt.hex"
    networks:
      e2e:
    ports:
      - "18548:8548"

  op-geth-l2-non-sequencing:
    build:
      dockerfile: "optimism-stack.Dockerfile"
      context: "."
    depends_on:
      op-geth-l2:
        condition: "service_started"
    healthcheck:
      test: ["CMD-SHELL", "ls /tmp/datadir/geth.ipc"]
      interval: 5s
      retries: 300
      start_period: 30s
    environment:
      ADMIN_PRIVATE_KEY: "${ADMIN_PRIVATE_KEY}"
      OP_GETH_L1_RPC: "http://geth-l1:8545"
      HVM_PHASE0_TIMESTAMP: ${HVM_PHASE0_TIMESTAMP}
    working_dir: "/tmp"
    command:
      - "sh"
      - "/tmp/entrypointl2.sh"
    volumes:
      - "./e2e/keystore:/tmp/keystore:ro"
      - "./e2e/passwords.txt:/tmp/passwords.txt:ro"
      - "./jwt.hex:/tmp/jwt.hex:ro"
      - "./entrypointl2.sh:/tmp/entrypointl2.sh"
      - "./genesisl2.sh:/tmp/genesisl2.sh"
      - "./output:/tmp/output"
      - "shared-dir:/shared-dir"
      - "./deploy-config.json:/git/optimism/packages/contracts-bedrock/deploy-config/devnetL1.json"
      - "./prestate-proof.json:/git/optimism/op-program/bin/prestate-proof.json"
      - {type: "tmpfs", target: "/tmp"}
    networks:
      e2e:
    ports:
      - "18546:8546"

  op-batcher:
    build:
      dockerfile: "optimism-stack.Dockerfile"
      context: "."
    deploy:
      restart_policy:
        condition: "any"
    healthcheck:
      start_period: 180s
    command:
      - "op-batcher/bin/op-batcher"
      - "--l2-eth-rpc=http://op-geth-l2:8546"
      - "--rollup-rpc=http://op-node:8548"
      - "--poll-interval=1s"
      - "--sub-safety-margin=1"
      - "--num-confirmations=1"
      - "--safe-abort-nonce-too-low-count=1"
      - "--resubmission-timeout=15s"
      - "--rpc.addr=0.0.0.0"
      - "--rpc.port=8548"
      - "--rpc.enable-admin"
      - "--max-channel-duration=5"
      - "--max-pending-tx=1"
      - "--l1-eth-rpc=http://geth-l1:8545"
      - "--private-key=${ADMIN_PRIVATE_KEY}"
    depends_on:
      geth-l1:
        condition: "service_started"
      op-geth-l2:
        condition: "service_healthy"
      op-node:
        condition: "service_started"
    networks:
      e2e:

  op-proposer:
    build:
      dockerfile: "optimism-stack.Dockerfile"
      context: "."
    deploy:
      restart_policy:
        condition: "any"
    depends_on:
      geth-l1:
        condition: "service_started"
      op-geth-l2:
        condition: "service_healthy"
      op-node:
        condition: "service_started"
    healthcheck:
      start_period: 180s
    environment:
      ADMIN_PRIVATE_KEY: ${ADMIN_PRIVATE_KEY}
    entrypoint:
      - sh
    command:
      - /proposer-entrypoint.sh
    volumes:
      - shared-dir:/shared-dir
      - ./proposer-entrypoint.sh:/proposer-entrypoint.sh
    networks:
      e2e:
volumes:
  shared-dir:
networks:
  e2e:
    ipam:
      config:
        - subnet: 192.169.0.0/16
