# Copyright (c) 2024 Hemi Labs, Inc.
# Use of this source code is governed by the MIT License,
# which can be found in the LICENSE file.

# GitHub Actions workflow to lint, build and test.
name: "Go"
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  workflow_call:

concurrency:
  group: "go-${{ github.workflow }}-${{ github.event.number || github.ref }}"
  cancel-in-progress: "${{ github.event_name == 'pull_request' }}"

env:
  # renovate: datasource=github-releases depName=golangci/golangci-lint versioning=semver
  GOLANGCI_LINT_VERSION: "v2.6.2"
  # renovate: datasource=github-releases depName=joshuasing/golicenser versioning=semver
  GOLICENSER_VERSION: "v0.3.1"

permissions:
  contents: read

jobs:
  lint:
    name: "Lint"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: "Setup Go"
        id: "go"
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"

      - name: "golangci-lint"
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: "${{ env.GOLANGCI_LINT_VERSION }}"

      - name: "golangci-lint fmt"
        run: golangci-lint fmt --diff ./...

      - name: "Cache golicenser"
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: "/home/runner/go/bin/golicenser"
          key: "${{ runner.os }}-golicenser-${{ env.GOLICENSER_VERSION }}-go${{ steps.go.outputs.go-version }}"

      - name: "golicenser"
        env:
          LICENSE_HEADER: |
            Copyright (c) {{.year}} {{.author}}
            Use of this source code is governed by the MIT License,
            which can be found in the LICENSE file.
        run: |
          if ! (command -v 'golicenser' >/dev/null); then
            go install github.com/joshuasing/golicenser/cmd/golicenser@$GOLICENSER_VERSION
          fi
          echo "$LICENSE_HEADER" > license_header.txt
          golicenser -author="Hemi Labs, Inc." -year-mode=git-range ./...

  build:
    name: "Build"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Setup Go"
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"

      - name: "Download and verify dependencies"
        id: deps
        run: make GOCACHE="$(go env GOCACHE)" go-deps

      - name: "make build"
        run: make GOCACHE="$(go env GOCACHE)" build

  test:
    name: "Test"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Setup Go"
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"

      - name: "Download and verify dependencies"
        id: deps
        run: make GOCACHE="$(go env GOCACHE)" go-deps

      - name: "make test (with E2E tests)"
        env:
          HEMI_DOCKER_TESTS: "1"
        run: make GOCACHE="$(go env GOCACHE)" test

      - name: "Upload coverage reports to Codecov"
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: ./coverage.out
          token: "${{ secrets.CODECOV_TOKEN }}"

  test-race:
    name: "Test (race)"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Setup Go"
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"

      - name: "Download and verify dependencies"
        id: deps
        run: make GOCACHE="$(go env GOCACHE)" go-deps

      - name: "make race"
        run: make GOCACHE="$(go env GOCACHE)" race
